<div class="sources">
  <h2>Graphs For Individual Data Sources <span class="help">?</span></h2>
  <div class="legend dialog">
    <h3>Legend</h3>
    <div class="content">
    </div>
  </div>
  <ul>
  </ul>
  <div class="fancybox">
    <h2>Individual Graphs</h2>
    <p>
      These graphs will display the forecasted {{ measurement }} compared to the actual measured amount between the days of {{ from }} and {{ to }}.
    </p>
    <p>
      The purpose of these graphs is to provide an intuitive visual representation of the difference between forecasted vs measured data.
    </p>
  </div>
</div>
<div class="aggregate">
  <h2>Total Comparison <span class="help">?</span></h2>
  <p>*lower is better</p>
  <ul>
  </ul>
  <div class="fancybox">
    <h2>Total Comparison</h2>
    <p>
      This graph will display the total difference in {{ measurement }} for each data source between the days of {{ from }} and {{ to }}.
    </p>
    <p>
      The purpose of this graph is to provide a clean comparison of overall forecasting accuracy.
    </p>
  </div>
</div>
