//-------------------//
// Size Declarations //
//-------------------//

$tmp: 4.5;
$chevron-width: #{$tmp}vmin;
$m_chevron-width: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$chevron-margin-left: #{$tmp}vmin;
$m_chevron-margin-left: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 30;
$datepicker-width: #{$tmp}vmin;
$m_datepicker-width: round($max-size * 0.01 * $tmp) * 1px;


//-----//
// CSS //
//-----//

graph-options {
	display: block;

	.dialog {
		&.retracted {
			.content {
				display: none;
			}
		}
		> .title {
			&:hover {
				background-color: $background;
				cursor: pointer;
			}
			> h3
			 , > .chevron {
				display: inline-block;
			}
			> .chevron {
				display: inline-block;
				margin-left: $chevron-margin-left;
				background-repeat: no-repeat;
				width: $chevron-width;
				vertical-align: middle;
				margin-top: -5px;
			}
		}
		
		> .content {
			.datepicker {
				width: $datepicker-width;
			}
			
			label {
				max-width: 40%;
			}
			input
			 , select {
				max-width: 65%;
			}
		}
	}
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	graph-options {
		.dialog {
			> .title {
				> .chevron {
					margin-left: $m_chevron-margin-left;
					width: $m_chevron-width;
				}
			}
			
			> .content {
				.datepicker {
					width: $m_datepicker-width;
				}
			}
		}
	}
}
