//-----------------//
// Site-wide sizes //
//-----------------//

$max-size: 525;

$mobile: 650;


// font sizes

$tmp: 8;
$font-lv1: #{$tmp}vmin;
$m_font-lv1: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$font-lv2: #{$tmp}vmin;
$m_font-lv2: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4.5;
$font-lv3: #{$tmp}vmin;
$m_font-lv3: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 3.8;
$font-lv4: #{$tmp}vmin;
$m_font-lv4: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 3.4;
$font-lv5: #{$tmp}vmin;
$m_font-lv5: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 3;
$font-lv6: #{$tmp}vmin;
$m_font-lv6: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 2.6;
$font-lv7: #{$tmp}vmin;
$m_font-lv7: round($max-size * 0.01 * $tmp) * 1px;


// header padding

$tmp: 6;
$h1-vert-margin: #{$tmp}vmin;
$m_h1-vert-margin: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$h2-vert-margin: #{$tmp}vmin;
$m_h2-vert-margin: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 2;
$h3-vert-margin: #{$tmp}vmin;
$m_h3-vert-margin: round($max-size * 0.01 * $tmp) * 1px;


// buttons
$tmp: 1;
$btn-pad-vert: #{$tmp}vmin;
$m_btn-pad-vert: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$btn-pad-hor: #{$tmp}vmin;
$m_btn-pad-hor: round($max-size * 0.01 * $tmp) * 1px;
