<h2>What is this tool?</h2>
<p>
  This tool allows you to easily view forecasted weather data and compare it to the actual measured data for a given date range.  By comparing different sources, you can easily tell which 
	are most accurate for the data you care about.
</p>
<p>There are only three data points currently - temperature high, low, and average wind speed. The three data sources were chosen due to ease of gathering their data. You may view up to a month's worth of data at once.</p>
<h2>Concrete Example</h2>
<p>
  Let's say you want to see which data source most accurately forecasted the temperature highs for Chicago IL during the month of January.  Since it would be unwise to compare data when forecasting one day out to forecasting 
    five days out, the tool requires you choose which forecast length to compare.  Once you are done selecting all the data points, click [Submit] to generate all the graphs.  A graph per data source are listed first,
    showing you the actual temperature high for each day compared to the forecasted temperature high.  After the individual graphs, you will find a bar graph showing the aggregate difference in measurement to forecast
    for each data source.
</p>
<a href="/home">Back to the tool</a>
