//-------------------//
// Size Declarations //
//-------------------//

$tmp: 1.4;
$input-pad-hor: #{$tmp}vmin;
$m_input-pad-hor: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$site-pad-hor: #{$tmp}vmin;
$m_site-pad-hor: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 18;
$content-pad-bot: #{$tmp}vmin;
$m_content-pad-bot: round($max-size * 0.01 * $tmp) * 1px;


//-----------------------//
// Set all to border-box //
//-----------------------//

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


//-------------------------//
// Remove all list styling //
//-------------------------//

ul, li {
	list-style: none;
}


//----------------------------------------//
// Remove all default margins and padding //
//----------------------------------------//

ul, li {
	margin: 0;
	padding: 0;
}


//--------------------------------------//
// Get rid of dotted active link border //
//--------------------------------------//

:focus{
    outline:0; /*removes the dotted border*/
}


//-----------------------//
// Reset control styling //
//-----------------------//

input[type="text"] {
	border-style: solid;
	border-width: 1px;
	border-color: $primary-lighter-lv2;
}

select {
	background-color: $background;
	border-color: $primary-lighter-lv2;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 1px;
}


//-----//
// CSS //
//-----//

body {
	background-color: $primary;
	font-family: 'Open Sans', sans-serif;
	color: $primary;
	text-align: center;
	font-size: $font-lv4;
}

h1 {
	font-size: $font-lv1;
	margin: $h1-vert-margin 0;
}
p + h2 {
	margin-top: $h1-vert-margin;
}
h2 {
	font-size: $font-lv2;
	margin: $h2-vert-margin 0;
}
h3 {
	font-size: $font-lv3;
	margin: $h3-vert-margin 0;
}

a, a:visited, a:active {
	color: $secondary;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

body > .full-wrapper {
	background-color: $background;
}
#site-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: $site-pad-hor;
	padding-bottom: $content-pad-bot;
	
	& > *:first-child {
		margin-top: 0;
		padding-top: $h1-vert-margin;
	}
}

input[type="text"]
 , select {
	padding-left: $input-pad-hor;
	padding-right: $input-pad-hor;
	
	&.error {
		background-color: $error-lighter-lv2;
	}
}

input[type="submit"]
 , input[type="button"] {
	padding: $btn-pad-vert $btn-pad-hor;
	border-width: 0;
	border-radius: 4px;
	font-weight: 600;
}

input[type="submit"] {
	background: linear-gradient(to bottom, $secondary-lighter-lv2  0%,$secondary-lighter-lv1 100%);
	color: $background;
	border-color: $secondary;
	
	&:hover {
		background: linear-gradient(to bottom, $secondary-lighter-lv3  0%,$secondary-lighter-lv2 100%);
	}
	&.disabled {
		background: $background-darker-lv3;
		cursor: default;
	}
}

input[type="button"] {
	background-color: $background-darker-lv1;
	color: $background;
	border-color: $background-darker-lv2;
}

.fancybox {
	display: none;
}

div.error {
	color: $error;
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	body {
		font-size: $m_font-lv4;
	}
	h1 {
		font-size: $m_font-lv1;
		margin: $m_h1-vert-margin 0;
	}
	h2 {
		font-size: $m_font-lv2;
		margin: $m_h2-vert-margin 0;
	}
	p + h2 {
		margin-top: $m_h1-vert-margin;
	}
	h3 {
		font-size: $m_font-lv3;
		margin: $m_h3-vert-margin 0;
	}
	
	#site-container {
		padding: 0 $site-pad-hor;
		padding-bottom: $m_content-pad-bot;
	
		& > *:first-child {
			margin-top: 0;
			padding-top: $m_h1-vert-margin;
		}
	}
	
	input[type="submit"] {
		padding: $m_btn-pad-vert $m_btn-pad-hor;
	}

	input[type="text"]
	 , select {
		padding-left: $m_input-pad-hor;
		padding-right: $m_input-pad-hor;
	}
}
