//-------------------//
// Size Declarations //
//-------------------//

$tmp: 8;
$fancybox-pad-hor: #{$tmp}vmin;
$m_fancybox-pad-hor: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 3;
$fancybox-pad-bot: #{$tmp}vmin;
$m_fancybox-pad-bot: round($max-size * 0.01 * $tmp) * 1px;


//-----//
// CSS //
//-----//

.fancybox-wrap {
    max-width: 80%;
}
.fancybox-inner {
	height: auto !important;
	width: auto !important;
	padding: 0 $fancybox-pad-hor $fancybox-pad-bot;
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.fancybox-wrap {
		max-width: 60%;
	}

	.fancybox-inner {
		padding: 0 $m_fancybox-pad-hor $m_fancybox-pad-bot;
	}
}
