//-------------------//
// Size Declarations //
//-------------------//

$tmp: 8;
$dialog-margin-bot: #{$tmp}vmin;
$m_dialog-margin-bot: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 35;
$pikaday-width: #{$tmp}vmin;
$m_pikaday-width: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 26;
$dialog-content-min-height: #{$tmp}vmin;
$m_dialog-content-min-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$label-pad-right: #{$tmp}vmin;
$m_label-pad-right: round($max-size * 0.01 * $tmp) * 1px;


//-----//
// CSS //
//-----//

.dialog {
	background-color: $background-darker-lv1;
	border: 1px solid $background-darker-lv2;
	border-radius: 4px;
	margin-bottom: $dialog-margin-bot;

	> .content {
		border-top: 1px solid $background-darker-lv2;
		overflow: hidden;
		min-height: $dialog-content-min-height;
		
		> .row {
			margin: $h2-vert-margin;
		}
		label
		 , .label {
		 
			padding-right: $label-pad-right;
			text-align: right;
			
			&:after {
				content: ":"
			}
		}
		input.pikaday {
			width: $pikaday-width;
		}
	}
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.dialog {
		margin-bottom: $m_dialog-margin-bot;
				
		> .content {
			min-height: $m_dialog-content-min-height;
		
			> .row {
				margin: $m_h2-vert-margin;
			}
			
			label
			 , .label {
			 
				padding-right: $m_label-pad-right;
			}
			
			input.pikaday {
				width: $m_pikaday-width;
			}
		}
	}
}
