$primary: #333;
$primary-lighter-lv1: lighten($primary, 20%);
$primary-lighter-lv2: lighten($primary, 40%);
$secondary: #C65000;
$secondary-lighter-lv1: lighten($secondary, 10%);
$secondary-lighter-lv2: lighten($secondary, 24%);
$secondary-lighter-lv3: lighten($secondary, 36%);
$tertiary: #178FE5;
$background: white;
$background-darker-lv1: darken($background, 6%);
$background-darker-lv2: darken($background, 14%);
$background-darker-lv3: darken($background, 30%);
$error: #FF0000;
$error-lighter-lv1: lighten($error, 20%);
$error-lighter-lv2: lighten($error, 40%);
