$primary: #333;
$primary-lighter-lv1: lighten($primary, 20%);
$secondary: #C65000;
$secondary-lighter-lv1: lighten($secondary, 20%);
$secondary-lighter-lv2: lighten($secondary, 30%);
$background: white;
$background-darker-lv1: darken($background, 6%);
$background-darker-lv2: darken($background, 14%);
